<div class="message-body">

  <div class="message-body-title">
    <%= link_to kitchen_path(booking.kitchen) do %>
      <p><strong>Kitchen: <%= booking.kitchen.title %></strong></p>
    <% end %>
  </div>

  <div class="message-body-guest">
    <p>Guest: <%= booking.user.email %></p>
  </div>

  <div class="message-body-date">
    <div class="message-body-date-start">
      <p>From: <%= booking.start_date.strftime('%b %d, %Y') %></p>
    </div>

    <div class="message-body-date-end">
      <p>To: <%= booking.end_date.strftime('%b %d, %Y') %></p>
    </div>
  </div>

</div>

<div class="message-price">
  <p>$<%= booking.total_price %></p>
</div>

<% if booking.status == "approved" %>
  <div class="message-status for-me" id="approved">
    <i class="fas fa-check"></i>
    <p><%= booking.status %></p>
  </div>
<% elsif booking.status == "declined" %>
  <div class="message-status for-me" id="declined">
    <i class="fas fa-times"></i>
    <p><%= booking.status %></p>
  </div>
<% else %>
  <div class="message-status for-me" id="pending">
    <i class="fas fa-question"></i>
    <p><%= booking.status %></p>
  </div>
<% end %>


<div class="dropdown" id="booking-decision">
  <% if booking.approved? %>
    <%= link_to "Cancel", decline_booking_path(booking), method: :patch, class: "btn btn-cancel btn-msg", remote: true %>
  <% elsif booking.declined? %>
    <p id="decline-message">You have declined this request.</p>
  <% else %>
    <%= link_to "Approve", approve_booking_path(booking), method: :patch, class: "btn navbar-button-green btn-msg", remote: true  %>
    <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "btn btn-cancel btn-msg", remote: true %>
  <% end %>

</div>


