<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @kitchen.picture, crop: :fill %>')">
	<div class="container">
		<h1><%= @kitchen.title %></h1>
		<p><%= @kitchen.description %></p>
	</div>
</div>
<div>
<div class="container details-show-kitchen">
		<div class="info">
			<%= render 'form' %>
		</div>
		<div class="info">
			<h4>Details of your reservation</h4>
			<p>Price: <%= @kitchen.price %>$/day</p>
			<p>Duration of rental: [X] days</p>
			<p>Total price for this booking: [X] $</p>
		</div>
</div>
<div class="container">
	<p><%= link_to "Go back to kitchen (do not book)", kitchen_path(@kitchen) %></p>
</div>