<div class="container">
  <%= simple_form_for(@kitchen) do |f| %>
    <%= f.input :title, placeholder: 'eg. Mario Pizza Hut' %>
    <%= f.input :description, placeholder: 'eg. your neighborhood fire pizza kitchen'%>
    <%= f.input :address, placeholder: 'eg. 225 Camelback Rd, London, UK' %>
    <%= f.input :price, placeholder: '30'%>
    <%= f.input :picture %>
    <%= f.input :picture_cache, as: :hidden %>
    <%= f.submit %>
  <% end %>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script> -->
<% end %>

