<div class="container">
  <h1>Kitchens</h1>
  <% @kitchens.each do |kitchen| %>
    <ul>
      <li>
        <%= kitchen.title %>
        <%= kitchen.description %>
        <%= kitchen.address %>
        <%= kitchen.price %>
      </li>
    </ul>
  <% end %>
  <%= link_to "Add kitchen", new_kitchen_path %>
</div>

