<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="main-intro">
        <h2>Use My Kitch</h2>
        <p>Channel your inner Nigella </p>
      </div>
      <% @kitchens.each do |kitchen| %>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <%= link_to kitchen_path(kitchen) do %>
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path kitchen.picture %>')">
            </div>
            <% end %>
            <div class="body">
              <%= link_to kitchen_path(kitchen) do %>
              <div class="card-title">
                <%= kitchen.title %>
              </div>
              <div class="card-price">
                <p>From $<%= kitchen.price %>,- per day</p>
              </div>
              <% end %>
            </div>
          </div>
          <a class="card-link" href="#"></a>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"></div>
</div>
<!-- Gmaps js: building the map -->
<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 52.5206, lng: 13.4098},
      scrollwheel: false,
      zoom: 8
    });
  }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Gmaps JavaScript -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>
