<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @kitchen.picture, crop: :fill %>')">
	<div class="container">
		<h1><%= @kitchen.title %></h1>
		<p><%= @kitchen.description %></p>
	</div>
</div>
<div>
<div class="container details-show-kitchen">
		<div class="info">
			<h2>More info</h2>
			<p>Price: <%= @kitchen.price %>$/day</p>

			<%= link_to new_kitchen_booking_path(@kitchen) do %>
			<div class="btn btn-success">Book</div>
			<% end %>
		</div>
		<div class="map">
			<p>placeholder for map</p>
		</div>
</div>
<div class="container">
	<p><%= link_to "back to more kitchens", kitchens_path %></p>
</div>
	

