<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @kitchen.picture, crop: :fill %>')">
</div>
<div>
<div class="container details-show-kitchen">
		<div class="info">
			<h1><%= @kitchen.title %></h1>
			<h4><%= @kitchen.description %></h4>
			<p>Price: <%= @kitchen.price %>$/day</p>

			<p><% if @kitchen.booked_before?(current_user) %><p>
				<p>You already have booked this kitchen. <%= link_to "Check your dashboard.", show_dashboard_path %></p>
			<% end %>

		</div>
		<div class="book-box">
			<h4>Book this kitchen!</h4>
			<%= render 'bookings/form'  %>
		</div>
</div>
<div class="container">
	<p><%= link_to "back to more kitchens", kitchens_path %></p>
</div>

<div id="confirm-booking"></div>
	

