<div class="container">
	<h1>My Dashboard</h1>
	<h2>Bookings I have requested</h2>
	<ul>
		<% @bookings_sent.each do |booking| %>
		<li>
      <div>
        <%= booking.start_date.strftime('%b %d, %Y') %>
      </div>
      <div>
        <%= booking.end_date.strftime('%b %d, %Y') %>
      </div>
      <div>
        <%= "Kitchen: #{booking.kitchen.title}" %>
      </div>
      <div>
        <%= "Price: #{booking.total_price}" %>
      </div>
      <div>
        <%= booking.status %>
      </div>
    </li>
		<% end %>
	</ul>

	<h2>My Kitchens</h2>
	<ul>
		<% @kitchens.each do |kitchen| %>
		<li><%= kitchen.title %></li>
		<% end %>
	</ul>

	<h2>Bookings for my Kitchens</h2>
	<ul>
		<% @bookings_received.each do |booking| %>
		<li><%= "#{booking.start_date.strftime('%b %d, %Y')} | #{booking.end_date.strftime('%b %d, %Y')} | Kitchen: #{booking.kitchen.title} | Price: #{booking.total_price} | #{booking.status}" %></li>
		<% end %>
	</ul>
</div>
