<div class="container-dashboard">
  <div class="container">

  	<h2>My Dashboard</h2>

  	<h3>Bookings I have requested</h3>
    <% if @bookings_sent.empty? %>
      <%= "You have not booked any kitchens." %>
    <% else %>
      <%= render 'bookingfromme' %>
    <% end %>

    <h3>My Kitchens</h3>
    <% if @kitchens.empty? %>
      <%= "You don't have any kitchens." %>
    <% else %>
      <%= render 'mykitch' %>
    <% end %>

  	<h3>Bookings for my Kitchens</h3>
    <% if @bookings_received.empty? %>
      <%= "None of your kitchens is booked." %>
    <% else %>
      <%= render 'bookingforme' %>
    <% end %>

  </div>
</div>
